<div class="container">
	<h1>About Us</h1>
	<hr>
	<p>– Over 20 years of experience in the field</p>
	<p>– Family owned and operated small business</p>
	<p>– We offer residential and commercial cleaning services</p>
	<p>– We supply our own cleaning supplies and equipment</p>
	<p>– Free estimates available over the phone</p>
	<p>– Licensed</p>
</div>