<div class="cover-container">  
  <div class="inner cover home-callout text-center">
  	<h1 class="brand cover-heading">Peaches & Clean</h1>
    <p class="lead">Residential Cleaning Services, Commercial Cleaning Services, Housekeeping Services, Maid Services, Cleaning Services in Bakersfield, Kern County, CA.</p>
    <p class="lead">
    	<a href="tel:6612413335" class="btn btn-lg btn-outline-inverse home-button"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call Us</a> Call for a free estimate.
    </p>
  </div>
</div>
